---
title: Blog
root: true
---
<h1>Blog Posts</h1>
<hr/>
{{#each blog}}
    {{#each pages}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <a href="{{ basename }}.html">{{data.title}}</a>
                </h2>
                Posted:{{data.posted}}
            </div>
            <div class="panel-body">
                {{#if data.intro }}
                    <p>
                        {{{ md data.intro }}}
                    <p>
                    <a class="btn btn-custom btn-large" href="{{ basename }}.html">Read more...</a>
                {{/if}}
            </div>
        </div>
    {{/each}}
{{/each}}

