---
title: Blog
root: true
---
<h1>Blog Posts</h1>
<hr/>
{{#each blog}}
    {{#each pages}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <a href="{{ basename }}.html">{{data.title}}</a>
                </h2>
                Posted: {{data.posted}}
                <a href="{{ basename }}.html#disqus_thread">0 Comments</a>
            </div>
            <div class="panel-body">
                {{#if data.tagline}}
                    <h3>
                        {{ data.tagline }}
                    </h3>
                {{/if}}
                {{#if data.intro }}
                    <p>
                        {{{ md data.intro }}}
                    <p>
                {{/if}}
                <a class="btn btn-custom btn-large" href="{{ basename }}.html">Read more...</a>
            </div>
        </div>
    {{/each}}
{{/each}}


<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'nathanrosspowell'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

