---
title: Games
root: true
---
<h1>Games</h1>
<p>The professional games that I have worked on in order of newest to oldest.</p>
{{#each games}}
    {{#each pages}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <a href="{{ basename }}">{{data.title}}</a>
                </h2>
                Released: {{formatDate data.posted "%B %Y"}}
            </div>
            <div class="panel-body">
                {{#if data.intro }}
                    <p>
                        {{ data.intro }}
                    <p>
                    <a class="btn btn-custom btn-large" href="{{ basename }}">Read more...</a>
                {{/if}}
            </div>
        </div>
    {{/each}}
{{/each}}

