---
component: media
---
{{#if mediabar}}
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{#if mediatitle}}
                {{mediatitle }}
            {{else}}
                Media
            {{/if}}
        </h4>
    </div>
        <div class="panel-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            {{#each mediabar }}
                <li data-target="#carousel-example-generic" data-slide-to="{{@index}}"
                {{#if @first }}
                    class="active"
                {{/if}}
                >
                </li>
            {{/each}}
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            {{#each mediabar }}
                <div class="item
                {{#if @first }}
                    active
                {{/if}}
                ">
                    {{#is type "youtube" }}
                        <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                            <iframe allowfullscreen="" 
                                    src="http://www.youtube.com/embed/{{ src }}?feature=player_detailpage" 
                                    frameborder="0">
                            </iframe>
                        </div>
                    {{/is}}
                    {{#is type "image" }}
                        <img src="{{../assets}}/assets/{{ src }}" class="carousel-img"/>
                    {{/is}}
                    {{#is type "ext-image" }}
                        <img src="{{ src }}" class="carousel-img"/>
                    {{/is}}
                    {{#is type "gametrailer" }}
                        <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                            <iframe allowfullscreen="" 
                                    src="http://media.mtvnservices.com/embed/mgid:arc:video:gametrailers.com:{{ url }}" 
                                    width="512" 
                                    height="288" 
                                    frameborder="0"></iframe>
                        </div> 
                    {{/is}}
                    <div class="carousel-caption">
                    {{ title }}
                    </div>
                </div>
            {{/each}}
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
  </div>
{{/if}}


