<li><a href="{{ social.linkedin }}"><i class="social fa fa-linkedin"></i></a></li>
<li><a href="http://github.com/{{ social.github }}"><i class="social fa fa-github"></i></a></li>
<li><a href="http://plus.google.com/+{{ social.googleplus }}"><i class="social fa fa-google-plus"></i> </a></li>
<li><a href="http://facebook.com/{{ social.facebook }}"><i class="social fa fa-facebook"></i></a></li>
<li><a href="http://instagram.com/{{ social.instagram }}"><i class="social fa fa-instagram"></i></a></li>
<li><a href="http://twitter.com/{{ social.twitter }}"><i class="social fa fa-twitter"></i></a></li>
<li><a href="https://vine.co/u/{{ social.vine }}"><i class="social fa fa-vine"></i></a></li>
<li><a href="http://reddit.com/{{ social.reddit }}"><i class="social fa fa-reddit"></i></a></li>
<li><a href="http://steamcommunity.com/id/{{ social.steam }}"><i class="social fa fa-steam"></i> </a></li>
<li><a href="http://last.fm/user/{{ social.lastfm }}"><i class="social fa fa-lastfm"></i></a></li>
