{{> default-header }}

{{> navbar-fixed-top }}

<div class="container theme-showcase" role="main">

    <div class="jumbotron">
        <h1>{{ title }}</h1>
        <h6> Released: {{formatDate posted "%B %Y"}} </h6>
        <p>{{ intro }}</p>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Links</h4>
                </div>
                <div class="panel-body">
                    <ul class="social-links">
                        {{#if metacritic}}
                            <li><a href="{{ metacritic }}"><i class="social fa fa-pie-chart"></i></a></li>
                        {{/if}}
                        {{#if facebook}}
                            <li><a href="{{ facebook }}"><i class="social fa fa-facebook"></i></a></li>
                        {{/if}}
                        {{#if twitter}}
                            <li><a href="{{ twitter }}"><i class="social fa fa-twitter"></i></a></li>
                        {{/if}}
                        {{#if youtube}}
                            <li><a href="{{ youtube }}"><i class="social fa fa-youtube"></i></a></li>
                        {{/if}}
                        {{#if gametrailer}}
                            <li><a href="{{ gametrailer }}"><i class="social fa fa-video-camera"></i></a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Info</h4>
                </div>
                <div class="panel-body">
                    {{> body }}
                </div>
            </div>
        </div>
    </div>

    {{#if mediabar}}
        {{> media-carousel }} 
    {{/if}}
</div>

{{> default-footer }}

 
